.navbar2{
    background-color:#ffde7d;
    border-radius: 30px;
    padding: 13px;
}

.navbar2 span a{
    position: sticky;
    top: 3px;
    text-decoration: none;
    font-family: cursive;
    padding: 20px;
}
.navbar1{
    padding-top: 15px;
}
#location{
    float: left;
    font-size: 14px;
    margin-top: 26px;
    margin-left: 34px;
    padding: 10px 0px 10px 0px;
    border-radius:26px;
    background-color:#00b8a9; 
    border-style: none;
    font-family: cursive;
}
.navbar2 a:hover{
    color: red;
}
#sitename{
    /*margin: auto;
    display: block;width: 15%;*/
    color: #f6416c;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black";
    margin-left: 40%;
}
#search{
    float:right;
    padding: 5px;
    margin: -48px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 26px;
}
header{
    border-radius: 26px;
    background-color: #00b8a9;
}
#image1{
    height: 25px;
    width: 25px;
    border-radius: 14px;
    float: right;
    margin-top: 0px;
    margin-right: 9px;
}
#threelines{
    font-size: 32px;
    border-radius: 14px;
    float: right;
    margin-top: -8px;
    margin-right: 30px;
    color: grey;
}
#cart-button{
    font-size: 32px;
    border-radius: 14px;
    float: right;
    margin-top: -8px;
    margin-right: 30px;
    color: grey;
}
#profilediv{
    background-color: #00b8a9;
    border-radius: 30px 30px 0 0;
}
#profilepic{
    
    width: 130px;
    height: 130px;
    border-radius: 130px;
    align-content: center;
    padding: 25px;
    
}
.sidenavbar{
    display: inline-block;
    position: absolute;
    margin-right: 20px;
    z-index: 100;
    width: 250px;
    height: max-content;
    border-radius: 30px;
    right: 0;
    background-color: #ffde7d;
    align-items: center;
}
.sidenavbar a{
    color: purple;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: cursive;
}
.sidenavbar a:hover {
    border-radius: 20px;
    background: #ecd89a;
}
content{
    background-color: white;
    /* z-index: -1; */
    display: block;
    /* display: none; */
}

.cart {
    position: absolute;
    width: 600px;
    height: 80%;
    border: 2px solid black;
    background-color: white;
    right: 0%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    z-index: 101;
}
.cart-head {
    flex: 0 1 auto;
    text-align: center;
    color: #f6416c;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black";
    font-weight: bold;
    border: 1px solid #00b8a9;
    border-radius: 20px;
    background-color: #00b8a9;
}
.movie{
    border-bottom: 1px solid black;
    border-radius: 20px;
    height: 90px;
    display: flex;
}
.moviename {
    height: 90px;
    border-right: 1px solid black;
    flex: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    color: purple;
}
.calculate{
    height: 90px;
    flex: 1;
}
#numbercal{
    height: 45px;
}
#numbercal{
    display: flex;
    justify-content: space-around;      
}
#movietot{
    height: 41px;
    width: 195px;
    border-color: rgba(0, 0, 0, 0.521);
    border: 1px;
    border-radius:  20px ;
    text-align: center;
    font-size: 20px;
    background-color:#ffde7d;
    margin-top: 2px;
    margin-left: 2px;
}
#movietot span{
    position: relative;
    top: 10px;
}
#count{
    width: 40px;
    border: 0px;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
#sub,#add{
width: 40px;
height: 30px;
margin-top: 10px;
padding: 0;
justify-content: center;
color: black;
text-align: center;
font-size: 20px;
}

.total-amt {
    width: 600px;
    display: flex;
    border-top: 2px solid black;
    bottom: 0%;
    /* justify-content: space-between; */
}
.cart-list {
    flex: 1 1 auto;
    height: 70%;
    overflow-y: auto;
}

#totalsum {
    width: 600px;
    height: 65px;
    text-align: center;
    font-size: 30px;
    color: #f6416c;
    font-weight: bold;
}
#totalprice{
    position: relative;
    top: 15px;
}
#totalspan{
    position: relative;
    top: 15px;
    color: black;
}
#checkout{
    width: 200px;
    height: 65px;
    border: 1px;
    border-radius: 0 0 20px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: #ffde7d;
    color: black;
}