.cart {
    position: absolute;
    width: 600px;
    height: 700px;
    border: 2px solid black;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, 0%);
}
.cart-head {
    text-align: center;
    color: #f6416c;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black";
    font-weight: bold;
    border: 1px solid #00b8a9;
    border-radius: 20px;
    background-color: #00b8a9;
}
.movie{
    border-bottom: 1px solid black;
    border-radius: 20px;
    height: 90px;
    display: flex;
}
.moviename {
    height: 90px;
    border-right: 1px solid black;
    flex: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    color: purple;
}
.calculate{
    height: 90px;
    flex: 1;
}
#numbercal{
    height: 45px;
}
#numbercal{
    display: flex;
    justify-content: space-around;      
}
#movietot{
    height: 41px;
    width: 195px;
    border-color: rgba(0, 0, 0, 0.521);
    border: 1px;
    border-radius:  20px ;
    text-align: center;
    font-size: 20px;
    background-color:#ffde7d;
    margin-top: 2px;
    margin-left: 2px;
}
#movietot span{
    position: relative;
    top: 10px;
}
#count{
    width: 40px;
    border: 0px;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
#sub,#add{
width: 40px;
height: 30px;
margin-top: 10px;
padding: 0;
justify-content: center;
color: black;
text-align: center;
font-size: 20px;
}

.total-amt {
    width: 600px;
    display: flex;
    border-top: 2px solid black;
    bottom: 0%;
    /* justify-content: space-between; */
}
.cart-list {
    height: 550px;
}

#totalsum {
    width: 600px;
    height: 65px;
    text-align: center;
    font-size: 30px;
    color: #f6416c;
    font-weight: bold;
}
#totalprice{
    position: relative;
    top: 15px;
}
#totalspan{
    position: relative;
    top: 15px;
    color: black;
}
#checkout {
    width: 200px;
    height: 64px;
    border: 1px;
    border-radius: 0 0 20px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: #ffde7d;
    color: black;
}