.navbar2{
    background-color:#e1c061;
    border-radius: 30px;
    padding: 13px;
}
.navbar2 span a{
    position: sticky;
    top: 3px;
    text-decoration: none;
    font-family: cursive;
    padding: 20px;
}
.navbar1{
    padding-top: 15px;
}
#location{
    float: left;
    font-size: 14px;
    margin-top: 26px;
    margin-left: 34px;
    padding: 10px 0px 10px 0px;
    border-radius:26px;
    background-color:#00b8a9; 
    border-style: none;
    font-family: cursive;
}
.navbar2 a:hover{
    color: red;
}
#sitename{
    /*margin: auto;
    display: block;width: 15%;*/
    color: #f6416c;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black";
    margin-left: 40%;
}
#search{
    float:right;
    padding: 5px;
    margin: -48px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 26px;
}
header{
    border-radius: 26px;
    background-color: #00b8a9;
}
#image1{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    float: right;
    margin-top: -85px;
    margin-right: 24px;
}
#moreop{
    font-size: 18px;
    float: right;
}
.posters{
    padding: 20px 2px;
    position: relative;
}
.posters img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 20px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
}
.prev{
    left: 1em;
}
.next {
    right: 1em;
    /* border-radius: 3px 0 0 3px; */
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }